*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
input,
select,
textarea {
  color: inherit;
}

img,
picture,
video,
canvas {
  max-width: 100%;
}

img,
video {
  height: auto;
}
